set number relativenumber
set hlsearch
set incsearch
set showcmd
set clipboard+=ideaput
set ignorecase
set smartcase

" Emulated plugins
set surround
set commentary
set ReplaceWithRegister
set textobj-entire

" Keymaps
map <Space> <Leader>
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <Esc><Esc> :noh<return>

