set number relativenumber
set hlsearch
set incsearch
set showcmd
set clipboard+=ideaput

" Emulated plugins
set easymotion
set surround
set commentary
set ReplaceWithRegister

" Keymaps
map <Space> <Leader>
map <Leader> <Plug>(easymotion-prefix)
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
nnoremap <Esc><Esc> :noh<return>

" EasyMotion
map <Leader>l <Plug>(easymotion-lineforward)
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)
map <Leader>h <Plug>(easymotion-linebackward)
map <Leader>a <Plug>(easymotion-jumptoanywhere)

